<div class="flex flex-col flex-1 h-screen min-h-0 pb-6">
  <try-out-spy-content-header>Circle</try-out-spy-content-header>
  <div
    class="flex flex-col flex-1 w-full pt-6 pb-4 mx-auto overflow-y-auto bg-gray-200 rounded-sm shadow-inner"
  >
    <div class="flex justify-center max-w-5xl mx-auto space-x-6">
      <!-- Circle 1 -->
      <div
        class="relative w-48 h-48 overflow-hidden border-2 rounded-full border-black/75 shadow-button-md"
      >
        <div
          class="absolute top-0 left-0 w-full h-full origin-center rotate-12"
        >
          <div class="absolute w-16 h-48 bg-indigo-500"></div>
          <div class="absolute w-16 h-48 bg-purple-500 left-[4rem]"></div>
          <div class="absolute right-0 w-16 h-48 bg-pink-500"></div>
        </div>

        <div
          class="absolute top-0 left-0 w-full h-full rounded-full bg-white/10 blur-md"
        ></div>
        <div
          class="absolute w-16 h-16 rounded-full bg-white/20 top-10 left-10 blur-md"
        ></div>
        <div
          class="absolute w-8 h-8 rounded-full bg-white/25 top-14 left-14 blur-md"
        ></div>
      </div>

      <!-- Circle 2 -->
      <div
        class="relative w-48 h-48 overflow-hidden border-2 rounded-full border-black/75 shadow-button-md"
      >
        <div
          class="absolute top-0 left-0 w-full h-full origin-center rotate-12 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"
        ></div>

        <div
          class="absolute top-0 left-0 w-full h-full rounded-full bg-white/10 blur-md"
        ></div>
        <div
          class="absolute w-16 h-16 rounded-full bg-white/20 top-10 left-10 blur-md"
        ></div>
        <div
          class="absolute w-8 h-8 rounded-full bg-white/25 top-14 left-14 blur-md"
        ></div>
      </div>

      <!-- Circle 3 -->
      <div
        class="relative w-48 h-48 overflow-hidden border-2 rounded-full border-black/75 shadow-button-md"
      >
        <div
          class="absolute top-0 left-0 w-full h-full origin-center rotate-12"
          style="
            background: linear-gradient(
              -45deg,
              rgba(255, 136, 152, 0.5) 0%,
              rgba(255, 136, 152, 0.5) 50%,
              rgba(255, 199, 153, 0.5) 50%,
              rgba(255, 199, 153, 0.5) 100%
            );
          "
        ></div>

        <div
          class="absolute top-0 left-0 w-full h-full rounded-full bg-white/10 blur-md"
        ></div>
        <div
          class="absolute w-16 h-16 rounded-full bg-white/20 top-10 left-10 blur-md"
        ></div>
        <div
          class="absolute w-8 h-8 rounded-full bg-white/25 top-14 left-14 blur-md"
        ></div>
      </div>
      <!-- Circle 4 -->
      <div
        class="relative w-48 h-48 overflow-hidden border-2 rounded-full border-black/75 shadow-button-md"
      >
        <div
          class="absolute top-0 left-0 w-full h-full origin-center rotate-12"
          style="
            background: linear-gradient(
              -45deg,
              rgba(255, 136, 152, 0.5) 0%,
              rgba(255, 136, 152, 0.5) 50%,
              rgba(255, 199, 153, 0.5) 50%,
              rgba(255, 199, 153, 0.5) 100%
            );
          "
        ></div>
        <div
          class="absolute top-0 left-0 w-full h-full origin-center rotate-12"
          style="
            background: linear-gradient(
              45deg,
              rgba(100, 199, 204, 0.5) 0%,
              rgba(100, 199, 204, 0.5) 50%,
              rgba(18, 136, 152, 0.5) 50%,
              rgba(18, 136, 152, 0.5) 100%
            );
          "
        ></div>
      </div>

      <!-- Circle 5 -->
      <div
        class="relative w-48 h-48 overflow-hidden border-2 rounded-full border-black/75 shadow-button-md"
      >
        <div
          class="absolute top-0 left-0 w-48 h-48 origin-center"
          style="
            background: linear-gradient(
              102deg,
              #6366f1 0%,
              #6366f1 33%,
              #a855f7 33%,
              #a855f7 66%,
              #ec4899 66%,
              #ec4899 100%
            );
          "
        ></div>
        <div
          class="absolute top-0 left-0 w-full h-full rounded-full bg-white/10 blur-md"
        ></div>
        <div
          class="absolute w-16 h-16 rounded-full bg-white/20 top-10 left-10 blur-md"
        ></div>
        <div
          class="absolute w-8 h-8 rounded-full bg-white/25 top-14 left-14 blur-md"
        ></div>
      </div>
    </div>
  </div>
</div>
