<div class="grid grid-cols-1 gap-4 p-8 md:grid-cols-3 xl:grid-cols-6">
  <!-- Circle 1 -->
  <div
    class="shadow-button-md relative h-40 w-40 overflow-hidden rounded-full border-2 border-black/75"
  >
    <div class="absolute top-0 left-0 h-full w-full origin-center rotate-12">
      <div class="absolute h-40 w-16 bg-indigo-500"></div>
      <div class="absolute left-[3.5rem] h-40 w-16 bg-purple-500"></div>
      <div class="absolute right-0 h-40 w-16 bg-pink-500"></div>
    </div>

    <div
      class="absolute top-0 left-0 h-full w-full rounded-full bg-white/10 blur-md"
    ></div>
    <div
      class="absolute top-10 left-10 h-16 w-16 rounded-full bg-white/20 blur-md"
    ></div>
    <div
      class="absolute top-14 left-14 h-8 w-8 rounded-full bg-white/25 blur-md"
    ></div>
  </div>

  <!-- Circle 2 -->
  <div
    class="shadow-button-md relative h-40 w-40 overflow-hidden rounded-full border-2 border-black/75"
  >
    <div
      class="absolute top-0 left-0 h-full w-full origin-center rotate-12 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"
    ></div>

    <div
      class="absolute top-0 left-0 h-full w-full rounded-full bg-white/10 blur-md"
    ></div>
    <div
      class="absolute top-10 left-10 h-16 w-16 rounded-full bg-white/20 blur-md"
    ></div>
    <div
      class="absolute top-14 left-14 h-8 w-8 rounded-full bg-white/25 blur-md"
    ></div>
  </div>

  <!-- Circle 3 -->
  <div
    class="shadow-button-md relative h-40 w-40 overflow-hidden rounded-full border-2 border-black/75"
  >
    <div
      class="absolute top-0 left-0 h-full w-full origin-center rotate-12"
      style="
        background: linear-gradient(
          -45deg,
          rgba(255, 136, 152, 0.5) 0%,
          rgba(255, 136, 152, 0.5) 50%,
          rgba(255, 199, 153, 0.5) 50%,
          rgba(255, 199, 153, 0.5) 100%
        );
      "
    ></div>

    <div
      class="absolute top-0 left-0 h-full w-full rounded-full bg-white/10 blur-md"
    ></div>
    <div
      class="absolute top-10 left-10 h-16 w-16 rounded-full bg-white/20 blur-md"
    ></div>
    <div
      class="absolute top-14 left-14 h-8 w-8 rounded-full bg-white/25 blur-md"
    ></div>
  </div>
  <!-- Circle 4 -->
  <div
    class="shadow-button-md relative h-40 w-40 overflow-hidden rounded-full border-2 border-black/75"
  >
    <div
      class="absolute top-0 left-0 h-full w-full origin-center rotate-12"
      style="
        background: linear-gradient(
          -45deg,
          rgba(255, 136, 152, 0.5) 0%,
          rgba(255, 136, 152, 0.5) 50%,
          rgba(255, 199, 153, 0.5) 50%,
          rgba(255, 199, 153, 0.5) 100%
        );
      "
    ></div>
    <div
      class="absolute top-0 left-0 h-full w-full origin-center rotate-12"
      style="
        background: linear-gradient(
          45deg,
          rgba(100, 199, 204, 0.5) 0%,
          rgba(100, 199, 204, 0.5) 50%,
          rgba(18, 136, 152, 0.5) 50%,
          rgba(18, 136, 152, 0.5) 100%
        );
      "
    ></div>
  </div>

  <!-- Circle 5 -->
  <div
    class="shadow-button-md relative h-40 w-40 overflow-hidden rounded-full border-2 border-black/75"
  >
    <div
      class="absolute top-0 left-0 h-40 w-40 origin-center"
      style="
        background: linear-gradient(
          102deg,
          #6366f1 0%,
          #6366f1 33%,
          #a855f7 33%,
          #a855f7 66%,
          #ec4899 66%,
          #ec4899 100%
        );
      "
    ></div>
    <div
      class="absolute top-0 left-0 h-full w-full rounded-full bg-white/10 blur-md"
    ></div>
    <div
      class="absolute top-10 left-10 h-16 w-16 rounded-full bg-white/20 blur-md"
    ></div>
    <div
      class="absolute top-14 left-14 h-8 w-8 rounded-full bg-white/25 blur-md"
    ></div>
  </div>
</div>
