<div class="fixed inset-y-0 flex w-64 flex-col">
  <div
    class="flex min-h-0 flex-1 flex-col border-r border-gray-200 bg-gradient-to-br from-slate-50 to-slate-200 dark:border-slate-900 dark:from-slate-800 dark:to-slate-900"
  >
    <div
      class="flex h-16 flex-shrink-0 items-center justify-center pt-6 text-2xl font-black uppercase dark:text-slate-100"
    >
      <svg
        class="h-12 w-24"
        viewBox="0 0 121 44"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <mask
          id="a"
          style="mask-type: alpha"
          maskUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="121"
          height="44"
        >
          <path fill="currentColor" d="M0 0h121v44H0z" />
        </mask>
        <g mask="url(#a)">
          <path
            d="M30 40h22M3-4l29 49M75-3 46 46M71 40h22M44-5l29 49M118-5 89 44M51 4H29M3 48 32-1"
            stroke="currentColor"
            stroke-width="9"
            stroke-linejoin="round"
          />
          <mask
            id="b"
            style="mask-type: alpha"
            maskUnits="userSpaceOnUse"
            x="43"
            y="-3"
            width="37"
            height="55"
          >
            <path
              d="m47 0 29 49"
              stroke="currentColor"
              stroke-width="9"
              stroke-linejoin="round"
            />
          </mask>
          <g mask="url(#b)">
            <path
              d="m46 34 28-47"
              stroke="#000"
              stroke-opacity=".5"
              stroke-width="3"
              stroke-linejoin="round"
            />
          </g>
          <mask
            id="c"
            style="mask-type: alpha"
            maskUnits="userSpaceOnUse"
            x="-4"
            y="-12"
            width="37"
            height="55"
          >
            <path
              d="m0-9 29 49"
              stroke="currentColor"
              stroke-width="9"
              stroke-linejoin="round"
            />
          </mask>
          <g mask="url(#c)">
            <path
              d="m-2 68 28-47"
              stroke="#000"
              stroke-opacity=".5"
              stroke-width="3"
              stroke-linejoin="round"
            />
          </g>
        </g>
      </svg>
    </div>

    <div class="flex flex-1 flex-col overflow-y-auto pt-6 pb-4">
      <div class="flex-1 space-y-1 px-2">
        <try-out-spy-navigation></try-out-spy-navigation>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-1 flex-col pl-64">
  <router-outlet></router-outlet>
</div>
