<div class="flex flex-col flex-1 h-screen min-h-0">
  <try-out-spy-content-header>Reflection</try-out-spy-content-header>
  <div
    class="flex flex-col flex-1 w-full pt-6 pb-4 mx-auto overflow-y-auto bg-gray-900 rounded-sm shadow-inner "
  >
    <div class="flex flex-row w-full max-w-5xl mx-auto space-x-2">

      <div class="w-full group">
        <img
          class="z-10 object-cover h-48 rounded aspect-video"
          src="assets/erwan-hesry-bvgsz17kdxc-unsplash.webp"
        />
        <div class="relative z-0 h-24 overflow-hidden transition-all -translate-y-4 -skew-x-3 bg-gray-900 opacity-0 top-1 group-hover:opacity-50 group-hover:translate-y-0">
          <img
            class="object-cover h-48 rotate-180 rounded aspect-video"
            src="assets/erwan-hesry-bvgsz17kdxc-unsplash.webp"
          />
          <div
            class="absolute inset-0 w-full h-full bg-gradient-to-b from-transparent to-gray-900"
          ></div>
        </div>
      </div>

      <div class="w-full">
        <img
          class="z-10 object-cover h-48 rounded aspect-video"
          src="assets/lukasz-szmigiel-ps2darcxyes-unsplash-1.webp"
        />
        <div
          class="relative h-24 overflow-hidden bg-gray-900 opacity-40 top-1"
        >
          <img
            class="object-cover h-48 rotate-180 rounded aspect-video"
            src="assets/lukasz-szmigiel-ps2darcxyes-unsplash-1.webp"
          />
          <div
            class="absolute inset-0 w-full h-full bg-gradient-to-b from-transparent to-gray-900"
          ></div>
        </div>
      </div>

      <div class="w-full">
        <img
          class="object-cover h-48 rounded aspect-video"
          src="assets/vidar-nordli-mathisen-641plhgeeyg-unsplash.webp"
        />
        <div
          class="relative h-24 overflow-hidden bg-gray-900 opacity-40 top-1"
        >
          <img
            class="object-cover h-48 rotate-180 rounded aspect-video"
            src="assets/vidar-nordli-mathisen-641plhgeeyg-unsplash.webp"
          />
          <div
            class="absolute inset-0 w-full h-full bg-gradient-to-b from-transparent to-gray-900"
          ></div>
        </div>
      </div>
    </div>
  </div>

</div>
