<div
  class="mx-auto flex w-full flex-1 flex-col overflow-y-auto rounded-sm pt-6 pb-4 shadow-inner"
>
  <div class="mx-auto flex w-full max-w-5xl flex-row space-x-2">
    <div class="group w-full">
      <img
        class="z-10 aspect-video h-48 rounded object-cover"
        src="assets/erwan-hesry-bvgsz17kdxc-unsplash.webp"
        alt=""
      />
      <div
        class="relative top-1 z-0 h-24 -translate-y-4 -skew-x-3 overflow-hidden bg-gray-900 opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-50"
      >
        <img
          class="aspect-video h-48 rotate-180 rounded object-cover"
          src="assets/erwan-hesry-bvgsz17kdxc-unsplash.webp"
          alt=""
        />
        <div
          class="absolute inset-0 h-full w-full bg-gradient-to-b from-transparent to-gray-900"
        ></div>
      </div>
    </div>

    <div class="w-full">
      <img
        class="z-10 aspect-video h-48 rounded object-cover"
        src="assets/lukasz-szmigiel-ps2darcxyes-unsplash-1.webp"
        alt=""
      />
      <div class="relative top-1 h-24 overflow-hidden bg-gray-900 opacity-40">
        <img
          class="aspect-video h-48 rotate-180 rounded object-cover"
          src="assets/lukasz-szmigiel-ps2darcxyes-unsplash-1.webp"
          alt=""
        />
        <div
          class="absolute inset-0 h-full w-full bg-gradient-to-b from-transparent to-gray-900"
        ></div>
      </div>
    </div>

    <div class="w-full">
      <img
        class="aspect-video h-48 rounded object-cover"
        src="assets/vidar-nordli-mathisen-641plhgeeyg-unsplash.webp"
        alt=""
      />
      <div class="relative top-1 h-24 overflow-hidden bg-gray-900 opacity-40">
        <img
          class="aspect-video h-48 rotate-180 rounded object-cover"
          src="assets/vidar-nordli-mathisen-641plhgeeyg-unsplash.webp"
          alt=""
        />
        <div
          class="absolute inset-0 h-full w-full bg-gradient-to-b from-transparent to-gray-900"
        ></div>
      </div>
    </div>
  </div>
</div>
