<!-- Container -->
<div class="m-8 border border-slate-200/50 bg-slate-100 p-8">
  <!-- Bottom Navigation -->
  <div>
    <ul class="flex justify-evenly bg-white">
      <li class="flex justify-center">
        <div
          class="flex h-16 w-16 items-center justify-center duration-300 hover:text-pink-500"
        >
          <svg-icon key="record" size="xl"></svg-icon>
        </div>
      </li>

      <li class="flex justify-center">
        <div
          class="flex h-16 w-16 items-center justify-center duration-300 hover:text-pink-500"
        >
          <svg-icon key="badge" size="xl"></svg-icon>
        </div>
      </li>
      <li class="flex justify-center">
        <div
          class="flex h-16 w-16 items-center justify-center duration-300 hover:text-pink-500"
        >
          <svg-icon key="at" size="xl"></svg-icon>
        </div>
      </li>
      <li class="flex justify-center">
        <div
          class="flex h-16 w-16 items-center justify-center duration-300 hover:text-pink-500"
        >
          <svg-icon key="cake" size="xl"></svg-icon>
        </div>
      </li>
    </ul>
  </div>
</div>
