<div class="flex h-full flex-grow items-center justify-center">
  <div
    class="flex flex-row items-center space-x-4 text-3xl font-light text-slate-900/90 dark:text-white/90"
  >
    <div>{{ a$ | async }}</div>
    <div>&times;</div>
    <div>{{ b$ | async }}</div>
    <div>=</div>
    <div>
      <input
        class="w-full appearance-none border py-2 px-3 text-3xl font-light leading-tight focus:outline-none dark:border-black/40 dark:bg-black/20 dark:text-white/90"
        id="answer"
        type="text"
        autocomplete="off"
        (keyup.enter)="check($event)"
      />
    </div>
    <div class="" *ngIf="{ value: result$ | async } as result">
      <div
        *ngIf="result.value"
        class="flex flex-col text-left text-emerald-600"
      >
        Correct
        <span class="text-sm text-emerald-600"
          >Refresh in {{ refreshSeconds$ | async }}s</span
        >
      </div>
      <div *ngIf="result.value === false" class="text-red-800">Incorrect</div>
    </div>
  </div>
</div>
