<div class="p-6">
  <div class="rounded-xl bg-slate-200/70 px-24 py-32 dark:bg-slate-800">
    <ul class="relative z-0 flex justify-center space-x-6">
      <li class="relative">
        <span
          class="before:animate-record flex h-16 w-16 items-center justify-center rounded-full bg-slate-300 text-slate-800 duration-500 before:absolute before:inset-0 before:-z-10 before:scale-75 before:transform before:rounded-full before:bg-red-400 before:blur-sm before:transition-all before:duration-500 hover:text-red-400 hover:before:scale-125"
          ><svg-icon key="record" size="xl"></svg-icon
        ></span>
      </li>

      <li class="relative">
        <span
          class="flex h-16 w-16 items-center justify-center rounded-full bg-slate-300 text-slate-800 duration-500 before:absolute before:inset-0 before:-z-10 before:scale-75 before:transform before:rounded-full before:bg-cyan-500 before:blur-sm before:transition-all before:duration-500 hover:text-cyan-500 hover:before:scale-125"
          ><svg-icon key="badge" size="xl"></svg-icon
        ></span>
      </li>
      <li class="relative">
        <span
          class="flex h-16 w-16 items-center justify-center rounded-full bg-slate-300 text-slate-800 duration-500 before:absolute before:inset-0 before:-z-10 before:scale-75 before:transform before:rounded-full before:bg-fuchsia-400 before:blur-sm before:transition-all before:duration-500 hover:text-fuchsia-400 hover:before:scale-125"
          ><svg-icon key="at" size="xl"></svg-icon
        ></span>
      </li>
      <li class="relative">
        <span
          class="flex h-16 w-16 items-center justify-center rounded-full bg-slate-300 text-slate-800 duration-500 before:absolute before:inset-0 before:-z-10 before:scale-75 before:transform before:rounded-full before:bg-rose-400 before:blur-sm before:transition-all before:duration-500 hover:text-rose-400 hover:before:scale-125"
          ><svg-icon key="cake" size="xl"></svg-icon
        ></span>
      </li>
      <li class="relative">
        <span
          class="flex h-16 w-16 items-center justify-center rounded-full bg-slate-300 text-slate-800 duration-500 before:absolute before:inset-0 before:-z-10 before:scale-75 before:transform before:rounded-full before:bg-orange-400 before:blur-sm before:transition-all before:duration-500 hover:text-orange-400 hover:before:scale-125"
          ><svg-icon key="fire" size="xl"></svg-icon
        ></span>
      </li>
    </ul>
  </div>

  <div class="mt-8 rounded-xl bg-slate-200/70 px-24 py-32 dark:bg-slate-800">
    <div
      class="drop-shadow-neon-purple mx-auto h-16 w-16 rounded-full bg-white"
    ></div>
  </div>

  <div class="mt-8 rounded-xl bg-slate-200/70 px-24 py-32 dark:bg-slate-800">
    <div class="flex items-center justify-center">
      <svg height="300" width="824">
        <g class="svgWrapper" transform="translate(1.000000, 1.000000)">
          <defs>
            <filter id="glowie">
              <feGaussianBlur
                result="coloredBlur"
                stdDeviation="4"
              ></feGaussianBlur>
              <feMerge>
                <feMergeNode in="coloredBlur"></feMergeNode>
                <feMergeNode in="coloredBlur"></feMergeNode>
                <feMergeNode in="coloredBlur"></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
              </feMerge>
            </filter>
          </defs>
          <path
            d="M100,250 C100,100 400,100 400,250"
            style="
              fill-opacity: 0;
              stroke-width: 2;
              stroke: #96f706;
              filter: url(#glowie);
            "
            transform="translate(1.000000, 1.000000)"
          ></path>
        </g>
      </svg>
    </div>
  </div>
</div>
