<div class="mb-4">
  <try-out-spy-navigation-item label="Todo" link="/todo">
    <svg-icon key="todo" slot="icon"></svg-icon>
    <div class="flex items-baseline">
      <div>Tosdo <span class="pl-2 text-xs text-red-400">new</span></div>
    </div>
  </try-out-spy-navigation-item>
</div>

<try-out-spy-collapsible-navigation [expanded]="true">
  <ng-container slot="start">Habits</ng-container>

  <try-out-spy-navigation-item label="Multiplication" link="/multiplication">
    <svg-icon key="x" slot="icon"></svg-icon>
  </try-out-spy-navigation-item>
</try-out-spy-collapsible-navigation>

<!-- All kinds of stuff -->
<try-out-spy-collapsible-navigation [expanded]="true">
  <ng-container slot="start">Stuffs 'n things</ng-container>

  <try-out-spy-navigation-item label="Neon" link="/neon">
    <svg-icon key="neon" slot="icon"></svg-icon>
  </try-out-spy-navigation-item>

  <try-out-spy-navigation-item label="Skeleton" link="/skeleton">
    <svg-icon key="skeleton" slot="icon"></svg-icon>
  </try-out-spy-navigation-item>

  <try-out-spy-navigation-item
    label="Shadow"
    link="/shadow"
  ></try-out-spy-navigation-item>

  <try-out-spy-navigation-item
    label="Glare"
    link="/glare"
  ></try-out-spy-navigation-item>

  <try-out-spy-navigation-item
    label="Circles"
    link="/circle"
  ></try-out-spy-navigation-item>

  <try-out-spy-navigation-item
    label="Browser"
    link="/browser"
  ></try-out-spy-navigation-item>

  <try-out-spy-navigation-item
    label="Gradient-hover"
    link="/gradient-hover"
  ></try-out-spy-navigation-item>
</try-out-spy-collapsible-navigation>

<!-- Glowie stuff -->
<try-out-spy-collapsible-navigation [expanded]="false">
  <ng-container slot="start">Glow</ng-container>
  <try-out-spy-navigation-item label="Button" link="/button-glow">
    <svg-icon key="photograph" slot="icon"></svg-icon>
  </try-out-spy-navigation-item>
  <try-out-spy-navigation-item label="Sunset" link="/sunset">
    <div
      slot="icon"
      class="h-6 w-6 rounded-full bg-gradient-to-tr from-orange-500 to-orange-600 group-hover:blur-[2px]"
    ></div>
  </try-out-spy-navigation-item>
</try-out-spy-collapsible-navigation>

<!-- Image stuff -->
<try-out-spy-collapsible-navigation [expanded]="false">
  <ng-container slot="start">Images</ng-container>
  <try-out-spy-navigation-item
    label="Reflection is perfection"
    link="/reflection"
  >
    <svg-icon key="photograph" slot="icon"></svg-icon>
  </try-out-spy-navigation-item>
  <try-out-spy-navigation-item label="Image shadow" link="/image-shadow">
    <svg-icon key="photograph" slot="icon"></svg-icon>
  </try-out-spy-navigation-item>
</try-out-spy-collapsible-navigation>
